{% load static %}

<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
<title>Sislaf</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'hm/layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- Top Background Image Wrapper -->
<!--<div class="bgded overlay" style="background-image:url({% static 'hm/images/demo/backgrounds/bg.jpg' %});">->
  <!-- ################################################################################################ -->
 <!-- <div class="wrapper row0">
    <div id="topbar" class="hoc clear">-->

     <!-- <div class="fl_right">
         ################################################################################################ 
        <ul class="nospace">

          <li id="searchform">
            <div>
              <form action="#" method="post">
                <fieldset>
                  <legend>Quick Search:</legend>
                  <input type="text" placeholder="Enter search term&hellip;">
                  <button type="submit"><i class="fas fa-search"></i></button>
                </fieldset>
              </form>
            </div>
          </li>
        </ul>
         ################################################################################################ 
      </div>-->
  <!--  </div>
  </div>-->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left">
        <!-- ################################################################################################ -->
        <h1><a href="/">AVODHA SHOPPING</a></h1>
        <!-- ################################################################################################ -->
      </div>
      <nav id="mainav" class="fl_right">
        <!-- ################################################################################################ -->
        <ul class="clear">
          <li class="active"><a href="/">Home</a></li>
          <li><a class="active" href="{% url 'cartDetails' %}"><i class="fa fa-shopping-cart" style="font-size:14px; color:white;">&nbsp;{{itc}}</i></a></li>
          <li><a class="active" href="#">Logout</a></li>
          <li><a class="active" href="#">Login</a></li>
          <li><a class="active" href="#">Register</a></li>
          
        


        </ul>
        <!-- ################################################################################################ -->
      </nav>
    </header>
  </div>
  </div>
  {% block content %}
  {% endblock %}
 </body>
  </html>  