
{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
    <link href="{% static 'pr/fontawesome/pr/css/all.min.css' %}" rel="stylesheet" />
    <link href="{% static 'pr/css/templatemo-comparto.css' %}" rel="stylesheet" />
    <title>Comparto HTML CSS Template</title>
<!--

Comparto TemplateMo

https://templatemo.com/tm-544-comparto

-->
</head>

<body>
    <!-- Back to top button -->
<br><br>

        <section class="tm-mb-1" id="about">
            <div class="tm-row tm-about-row">
                <div class="tm-section-1-l">
                    <img src="{{pr.img.url}}" alt="About image" class="tm-img-responsive">
                </div>
                <article class="tm-section-1-r tm-bg-color-8">
                    <h2 class="tm-mb-2 tm-title-color">{{pr.name}}t</h2>
                   <!---- <p><a rel="nofollow" href="https://templatemo.com/tm-544-comparto" target="_parent">Comparto</a> is a custom light-weight CSS layout for your website. You can easily adapt and use this for your commercial or personal websites. Feel free to use it.</p>-->
                    <!--<p>You cannot redistribute this template ZIP file in any template collection website. Please <a rel="nofollow" href="https://templatemo.com/contact" target="_parent">contact TemplateMo</a> if you have any question.</p>
                    <p>Nunc sed gravida elit. Curabitur rutrum elit id lobortis viverra. Fusce at libero dui.</p>-->
                    <p>Price: {{pr.price}}Rs<br>{{pr.desc}}</p>
                    <p>Stock: {{pr.stock}}</p>
{% if pr.stock <= 0 %} 
 <h1 style= "color:red">Sorry No Stock Left<h1>   
                        {% else %} 
                        <a href="{% url 'addcart' pr.id %}" class="tm-btn tm-btn-1 tm-link-to-services">Add to cart</a>
{% endif %}    
                </article>
            </div>
        </section>
        
</body>
</html>
{% endblock %}
